body {
  background-image: url('./images/black-stars.png');
  color: white;
  font-size: 28px;
  font-family: 'futura', sans-serif;
  text-align: center;
}

@media (min-width: 451px) {
}
.formier {
  padding: 40px;
}

.resulty {
  text-align: center;
  transition: 300ms ease-in;
}

.resulty p {
  margin: 0;
}

.resulty-disappear {
  transition: opacity 3s ease-in-out;
  opacity: 0;
}

h3 {
  font-size: 28px;
  margin: 28px 0 0 0;
}

input {
  padding: 8px;
  background-color: white;
  font-family: 'futura', sans-serif;
  /* width: 100px; */
  border-radius: 8px;
  margin: 12px 0;
  font-size: 24px;
  text-align: center;
}

input:focus, button:focus {
    outline: none;
    box-shadow: 0 0 0 2pt white;
}

button:focus{
  outline-width: 8px;
  outline-color: white;
}

button {
  padding: 12px;
  background-color: white;
  font-family: 'futura', sans-serif;
  font-weight: bold;
  width: 150px;
  border-radius: 8px;
  margin: 16px 16px 4px;
  font-size: 20px;
  text-align: center;
}

hr {
  margin: 8px 32px;
}

.enbold {
  font-weight: bold;
  font-size: 26px;
}

#bmonth, #bday {
  max-width: 60px;
}

#byear {
  max-width: 100px;
}

.instructions {
  font-weight: bold;
  font-size: 20px;
  margin: 4px 4px 16px 4px;
}

label {
  margin: 4px 11px;
  font-weight: bold;
  font-size: 24px;
}

/* mobile view */
@media (max-width: 450px) {
  .formier {
    padding: 16px 24px;
  }

  input {
    height: 20px;
  }
  /* #bmonth, #bday {
    width: 30px;
  }

  #byear {
    width: 60px;
  } */

}
